<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Cake Company</h1>
      <p>This is a sample web application for online cake order.</p>
      <p>
        <a class="btn btn-primary " href="#" role="button" routerLink="/register">User Registration</a>
         <a class="btn btn-primary " href="#" role="button" routerLink="/login">User login</a> </p>       
    </div>
  </div>
</main>
